<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style2.css') }}" type="text/css">
    <title>Curriculum Checker</title>
</head>

<body>
    <div class="container">
        <h2 class="text-center">Curriculum Checker</h2>
        <div class="stepwizard">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                    <p>Subjects</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                    <p>Occupations</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                    <p>Results</p>
                </div>
            </div>
        </div>

        <form role="form" action="" method="post" id="formCurriculumChecker">
            <div class="row setup-content" id="step-1">
                <div class="col-md-12">
                    <h3>Insert your subjects</h3>
                    <br />
                    <table id="myTable" class=" table order-list">
                        <thead>
                            <tr>
                                <th style="width: 25%; text-align: center">Name</th>
                                <th style="width: 75%; text-align: center">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-sm-3">
                                    <div class="form-group" style="margin-bottom: 0px;">
                                        <input type="text" id="subject-name1" name="subject-name1" class="form-control" required/>
                                    </div>
                                </td>
                                <td class="col-sm-8">
                                    <input type="text" id="description-1" name="description-1" class="form-control" placeholder="Desc your subject here..."/>
                                </td>
                                <td class="col-sm-1"><input type="button" class="ibtnDel btn btn-md btn-danger " value="Delete" disabled /></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" style="text-align: left;">
                                    <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Row" />
                                </td>
                            </tr>
                            <tr>
                            </tr>
                        </tfoot>
                    </table>
                    <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
                </div>
            </div>
            <div class="row setup-content" id="step-2">
                <div class="col-md-12">
                    <h3>Insert Occupations</h3>
                    <br>
                    <div class="form-group">
                        <label class="control-label">Level</label>
                        <br>
                        <select id="level" name="level" class="form-control" style="width: 70%; margin-left: 20px;">
                            <option></option>
                            <option value="01">SMP</option>
                            <option value="02">SMA</option>
                            <option value="03">Diploma I</option>
                            <option value="04">Diploma II</option>
                            <option value="05">Diploma III</option>
                            <option value="06">Strata-1</option>
                            <option value="07">Professional</option>
                            <option value="08">Strata-2</option>
                            <option value="09">Strata-3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Domain</label>
                        <br>
                        <select class="form-control" id="domain" name="domain[]" multiple="multiple" style="width: 70%; margin-left: 15px;">
                            <option value="01">DATA MANAGEMENT SYSTEM</option>
                            <option value="02">PROGRAMMING AND SOFTWARE DEVELOPMENT</option>
                            <option value="03">HARDWARE AND DIGITAL PERIPHERALS</option>
                            <option value="04">NETWORK AND INFRASTRUCTURE</option>
                            <option value="05">OPERATION AND SYSTEM TOOLS</option>
                            <option value="06">INFORMATION SYSTEM AND TECHNOLOGY DEVELOPMENT</option>
                            <option value="07">IT GOVERNANCE AND MANAGEMENT</option>
                            <option value="08">IT PROJECT MANAGEMENT</option>
                            <option value="09">IT ENTERPRISE ARCHITECTURE</option>
                            <option value="10">IT SECURITY AND COMPLIANCE</option>
                            <option value="11">IT SERVICES MANAGEMENT SYSTEM</option>
                            <option value="12">IT AND COMPUTING FACILITIES MANAGEMENT</option>
                            <option value="13">IT MULTEMEDIA</option>
                            <option value="14">IT MOBILITY AND INTERNET OF THINGS</option>
                            <option value="15">INTEGRATION APPLICATION SYSTEM</option>
                            <option value="16">IT CONSULTANCY AND ADVISORY</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Okupasi</label>
                        <br>
                        <select class="form-control" id="okupasi" name="okupasi[]" multiple="multiple" style="width: 70%; margin-left: 15px;">
                            <option></option>
                        </select>
                    </div>
                    <button class="btn btn-primary nextBtn btn-lg pull-right" id="btn2" type="button">Next</button>
                </div>
            </div>
            <div class="row setup-content" id="step-3">
                <div class="col-md-12">
                    <h3>Results</h3>
                    <div id="chart" style="width: auto; margin: 0 auto"></div><br><br>
                    <div class="container">
                      <h5 id="hasilJenjang">Jenjang: </h5>
                      <h5 id="hasilDomain">Domain: </h5>
                      <h5 id="hasilOkupasi">Okupasi: </h5>
                      <h5>Unit kompetensi terpenuhi: </h5>
                      <ol id="hasilUK"></ol>
                      <h5>Unit kompetensi belum terpenuhi: </h5>
                      <ol id="hasilUK2"></ol>
                      <h5>Pengetahuan: </h5>
                      <ol id="hasilPengetahuan"></ol>
                      <h5>Keterampilan: </h5>
                      <ol id="hasilSkill"></ol>
                      <h5>Sikap Kerja: </h5>
                      <ol id="hasilSikap"></ol>
                    </div>
                    <button class="btn btn-success btn-lg pull-right" type="reset" style="margin-bottom: 50px; margin-top: 30px;" id="resetBtn" type="button">Reset</button>
                </div>
            </div>
        </form>
    </div>
</body>
<script>
    //Global variables
    var arrName = [];
    var arrDesc = [];
    var arrsubBok = [];
    var arrComp = [];
    var arrComp2 = [];
    var arrKnowledges = [];
    var arrSkills = [];
    var arrAspects = [];
    var arrCompUnique = [];
    var sliceArr = [];
    var arrNotInclude = [];
    var res = 0;
    $(document).ready(function () {
        //Load view
        var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn');
        var step = 1;

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-primary').addClass('btn-default');
                $item.addClass('btn-primary');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allNextBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next()
                .children("a"),
                curInputs = curStep.find("input[type='text']"),
                isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid) {
                if (step == 1) {
                    arrName = [];
                    arrDesc = [];
                    arrsubBok = [];
                    arrComp = [];
                    for (var i = 1; i < counter; i++) {
                        var j = i - 1;
                        arrName[j] = $("#subject-name" + i).val();
                        arrDesc[j] = $("#description-" + i).val();
                    }
                    $.ajax({
                        type: 'POST',
                        url: '/fetchCompetencies1',
                        data: {
                            'description': JSON.stringify(arrDesc),
                            'ajax': true
                        },
                        success: function (data2) {
                            console.log(data2);
                            arrCompUnique = JSON.parse(data2).comp;
                            arrsubBok = JSON.parse(data2).subbok;
                        },
                        complete: function(){
                            $('#btn2').prop('disabled', false);
                        }
                    });
                    $('#btn2').prop('disabled', true);
                } else if (step == 2) {
                    sliceArr = [];
                    $.each(arrCompUnique, function (i, el) {
                        var codeArr1 = el['code'];
                        var sameCode = arrComp2.some(function(el2){
                            return el2.code === codeArr1;
                        });
                        if(sameCode) sliceArr.push(el);
                    });
                    arrNotInclude = removeDuplicates(arrCompUnique.concat(arrComp2), "code");
                    res = sliceArr.length / (arrNotInclude.length + sliceArr.length)
                    console.log("Array 1: " + arrCompUnique.length);
                    console.log("Array 2: " + arrComp2.length);
                    console.log("Array 3: " + sliceArr.length);
                    console.log("Array 4: " + arrNotInclude.length);
                    console.log("Percentage " + res);
                    makeChart(res);
                }
                step++;
                nextStepWizard.removeAttr('disabled').trigger('click');
            } else {
                if (step > 1) {
                    step--;
                }
            }
        });

        $('div.setup-panel div a.btn-primary').trigger('click');

        //=============================================================================================================
        //Step-1
        //Dynamicall add subject
        var counter = 2;

        $("#addrow").on("click", function () {
            var newRow = $("<tr>");
            var cols = "";

            cols +=
                '<td><div class="form-group" style="margin-bottom: 0px;"><input type="text" id="subject-name' +
                counter + '" name="subject-name' +
                counter + '" class="form-control" required/></div></td>';
            cols += '<td><input type="text" id="description-' + counter + '" name="description-' + counter + '" class="form-control" placeholder="Desc your subject here..."/></td>';
            cols +=
                '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';
            newRow.append(cols);
            $("table.order-list").append(newRow);
            counter++;
        });

        $("table.order-list").on("click", ".ibtnDel", function (event) {
            $(this).closest("tr").remove();
            counter -= 1
        });

        //=============================================================================================================
        //Step-2
        //Choose level and domain

        //Init level
        $("#level").select2({
            placeholder: "Pilih level"
        });
        //Init domain
        $("#domain").select2({
            placeholder: "Pilih domain"
        });
        //Init okupasi
        $("#okupasi").select2({
            placeholder: "Pilih okupasi"
        });
        $("#level").change(function () {
            var choosenType = $(this).val();
            if (choosenType !== null && choosenType !== '') {
                var domain = $("#domain").val();
                if (domain !== null && domain !== 'undefined' && domain.length > 0) {
                    $.ajax({
                        type: 'POST',
                        url: '/fetchJob',
                        data: {
                            'level': choosenType,
                            'domain': domain,
                            'ajax': true
                        },
                        success: function (data2) {
                            $('#okupasi').empty().trigger('change');
                            $("#okupasi").select2({
                                placeholder: "Pilih okupasi",
                                data: JSON.parse(data2).Okupasi
                            });
                            // menampilkan list kompetensi berdasarkan okupasi terpilih
                            $('#okupasi').change(function () {
                                var choosenType = $(this).val();
                                if (choosenType !== null && choosenType !==
                                    'undefined' && choosenType.length > 0) {
                                    $.ajax({
                                        type: 'POST',
                                        url: '/fetchCom',
                                        data: {
                                            'jobs': choosenType,
                                            'ajax': true
                                        },
                                        success: function (data2) {
                                            arrComp2 = [];
                                            arrKnowledges = [];
                                            arrSkills = [];
                                            arrAspects = [];

                                            //Fill the value
                                            for (var i = 0; i < JSON.parse(data2).Kompetensi.length; i++) {
                                                arrComp2.push(JSON.parse(data2).Kompetensi[i]);
                                            }
                                            arrKnowledges = JSON.parse(data2).hasKnowledge;
                                            arrSkills = JSON.parse(data2).hasSkill;
                                            arrAspects = JSON.parse(data2).hasAspect;
                                        }
                                    });
                                }
                            });
                        }
                    });
                }
            }
        });
        $("#domain").change(function () {
            var choosenType = $(this).val();
            if (choosenType !== null && choosenType !== 'undefined' && choosenType.length > 0) {
                var level = $("#level").val();
                if (level !== null && level !== 'undefined' && level !== '') {
                    $.ajax({
                        type: 'POST',
                        url: '/fetchJob',
                        data: {
                            'level': level,
                            'domain': choosenType,
                            'ajax': true
                        },
                        success: function (data2) {
                            $('#okupasi').empty().trigger('change');
                            $("#okupasi").select2({
                                placeholder: "Pilih okupasi",
                                data: JSON.parse(data2).Okupasi
                            });
                            // menampilkan list kompetensi berdasarkan okupasi terpilih
                            $('#okupasi').change(function () {
                                var choosenType = $(this).val();
                                if (choosenType !== null && choosenType !==
                                    'undefined' && choosenType.length > 0) {
                                    $.ajax({
                                        type: 'POST',
                                        url: '/fetchCom',
                                        data: {
                                            'jobs': choosenType,
                                            'ajax': true
                                        },
                                        success: function (data2) {
                                            arrComp2 = [];
                                            arrKnowledges = [];
                                            arrSkills = [];
                                            arrAspects = [];

                                            //Fill the value
                                            for (var i = 0; i < JSON.parse(data2).Kompetensi.length; i++) {
                                                arrComp2.push(JSON.parse(data2).Kompetensi[i]);
                                            }
                                            arrKnowledges = JSON.parse(data2).hasKnowledge;
                                            arrSkills = JSON.parse(data2).hasSkill;
                                            arrAspects = JSON.parse(data2).hasAspect;
                                        }
                                    });
                                }
                            });
                        }
                    });
                }
            }
        });

        //=============================================================================================================
        //Step-3
        //Set result chart and datas
        $("#resetBtn").on('click', function(){
            location.reload();
        });
    });
    function removeDuplicates(myArr, prop) {
        return myArr.filter((obj, pos, arr) => {
            return arr.map(mapObj => mapObj[prop]).indexOf(obj[prop]) === pos;
        });
    }
    function arrayUnique(array) {
        var a = array.concat();
        for(var i=0; i<a.length; ++i) {
            for(var j=i+1; j<a.length; ++j) {
                if(a[i] === a[j]) a.splice(j--, 1);
            }
        }
        return a;
    }
    function makeChart(hasil) {

        //Set level
        switch($("#level").val()){
            case "01": $("#hasilJenjang").text("Jenjang: SMP"); break;
            case "02": $("#hasilJenjang").text("Jenjang: SMA"); break;
            case "03": $("#hasilJenjang").text("Jenjang: Diploma I"); break;
            case "04": $("#hasilJenjang").text("Jenjang: Diploma II"); break;
            case "05": $("#hasilJenjang").text("Jenjang: Diploma III"); break;
            case "06": $("#hasilJenjang").text("Jenjang: Strata-1"); break;
            case "07": $("#hasilJenjang").text("Jenjang: Professional"); break;
            case "08": $("#hasilJenjang").text("Jenjang: Strata-2"); break;
            case "09": $("#hasilJenjang").text("Jenjang: Strata-3"); break;
        }
        //Set domain
        var items = $("#domain").val();
        var index = items.indexOf("01");
        if (index !== -1) items[index] = "DATA MANAGEMENT SYSTEM";
        var index = items.indexOf("02");
        if (index !== -1) items[index] = "PROGRAMMING AND SOFTWARE DEVELOPMENT";
        var index = items.indexOf("03");
        if (index !== -1) items[index] = "HARDWARE AND DIGITAL PERIPHERALS";
        var index = items.indexOf("04");
        if (index !== -1) items[index] = "NETWORK AND INFRASTRUCTURE";
        var index = items.indexOf("05");
        if (index !== -1) items[index] = "OPERATION AND SYSTEM TOOLS";
        var index = items.indexOf("06");
        if (index !== -1) items[index] = "INFORMATION SYSTEM AND TECHNOLOGY DEVELOPMENT";
        var index = items.indexOf("07");
        if (index !== -1) items[index] = "IT GOVERNANCE AND MANAGEMENT";
        var index = items.indexOf("08");
        if (index !== -1) items[index] = "IT PROJECT MANAGEMENT";
        var index = items.indexOf("09");
        if (index !== -1) items[index] = "IT ENTERPRISE ARCHITECTURE";
        var index = items.indexOf("10");
        if (index !== -1) items[index] = "IT SECURITY AND COMPLIANCE";
        var index = items.indexOf("11");
        if (index !== -1) items[index] = "IT SERVICES MANAGEMENT SYSTEM";
        var index = items.indexOf("12");
        if (index !== -1) items[index] = "IT AND COMPUTING FACILITIES MANAGEMENT";
        var index = items.indexOf("13");
        if (index !== -1) items[index] = "IT MULTEMEDIA";
        var index = items.indexOf("14");
        if (index !== -1) items[index] = "IT MOBILITY AND INTERNET OF THINGS";
        var index = items.indexOf("15");
        if (index !== -1) items[index] = "INTEGRATION APPLICATION SYSTEM";
        var index = items.indexOf("16");
        if (index !== -1) items[index] = "IT CONSULTANCY AND ADVISORY";
        $("#hasilDomain").text("Domain: " + items);
        $("#hasilOkupasi").text("Okupasi: " + $("#okupasi").val());
        for (i = 0; i < sliceArr.length; i++) {
            $("#hasilUK").append("<li>" + sliceArr[i]['name'] + "</li>")
        }
        for (i = 0; i < arrNotInclude.length; i++) {
            $("#hasilUK2").append("<li>" + arrNotInclude[i]['name'] + "</li>")
        }
        for (i = 0; i < arrKnowledges.length; i++) {
            $("#hasilPengetahuan").append("<li>" + arrKnowledges[i] + "</li>")
        }
        for (i = 0; i < arrSkills.length; i++) {
            $("#hasilSkill").append("<li>" + arrSkills[i] + "</li>")
        }
        for (i = 0; i < arrAspects.length; i++) {
            $("#hasilSikap").append("<li>" + arrAspects[i] + "</li>")
        }
        Highcharts.setOptions({
            colors: ['#8edce7', '#e8ebeb']
        });

        var noBorder = {
            states: {
                hover: {
                    halo: {
                        size: 1
                    }
                }
            }
        };
        // Create the chart for completion
        var chart_completion = new Highcharts.Chart({
            chart: {
                renderTo: 'chart',
                type: 'pie',
                margin: [10, 10, 10, 10],
                height: 300

            },
            tooltip: {
                enabled: false,
            },
            plotOptions: {
                pie: {
                    slicedOffset: 0,
                    size: '100%',
                    dataLabels: {
                        enabled: false
                    }
                },
                series: noBorder
            },
            title: {
                text: (hasil * 100).toFixed(2) + '%',
                align: 'center',
                verticalAlign: 'middle',
                style: {
                    fontSize: '30px'
                }

            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Percentage',
                data: [
                    [, 100 - ((1 - hasil) * 100).toFixed(2)],
                    [, 100 - (hasil * 100).toFixed(2)]
                ],
                innerSize: '80%',
                showInLegend: false,
                dataLabels: {
                    enabled: false
                },
                states: {
                    hover: {
                        enabled: false
                    }
                }
            }]
        });
    }
</script>

</html>