@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
body { font-family: Lato; font-size: 17px; margin: 40px 40px 0; }

div {  }
div > label {
   display: block;
   margin-bottom: 15px;
   margin-top: 10px;
}
.custom-checkbox {
  position: relative;
  display: inline-block;
}

.custom-checkbox > input {
  position: absolute;
  outline: none;
  left: 0;
  top: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  margin: 0;
  opacity: 0;
  z-index: 1;
}

/* DEFAULT STYLES */
.custom-checkbox > .box {
    background-color: #ffffff;
    box-sizing: border-box;
    display: inline-block;
    max-width: 250px;
    max-height: 100%;
    height: 80px;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #62c8d0;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 10px;
    position: relative;
    font-weight: bold;
}
.custom-checkbox > .box > .tick {
  display: none;
}

/* CHECKED STYLES */
.custom-checkbox > input:checked ~ .box,
/*IE8*/.custom-checkbox.checked > .box{
   background: #62c8d0;
   color: #FFF;
}
.custom-checkbox > input:checked ~ .box > .tick,
/*IE8*/.custom-checkbox.checked > .box > .tick {
  display: block;
}




.custom-checkbox > input:active ~ .box {
  border-color: #aaa;
  background-color: #ddd;
}
