
.text {
   width: 100%;
   text-align: center;
   margin-top: 20px;
   height: 70px;
}

.area {
   width: 100%;
   float: left;
   margin-top: 15px;
}

.area .input,
.area .input label {
   width: 100%;
   float: left;
   position: relative;
}

.area .input {
   overflow: hidden;
   border-radius: 2px;
   color: #fff;
  background-color: #26a69a;
   box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
   transition: 300ms;
   -webkit-transition: 300ms;
   -ms-transition: 300ms;
}

.area .input input {
   display: none;
}

.area .input label {
   font-weight: 400;
   color: #fff;
   text-align: center;
   cursor: pointer;
   font-size: 14px;
   z-index: 3;
   transition: 300ms;
   -webkit-transition: 300ms;
   -ms-transition: 300ms;
   height: 45px;
   line-height: 45px;
}

.area .input:hover{
   box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}
.area .input label:hover {
   letter-spacing: .8px;
   
}

.click-efect {
   position: absolute;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.2);
   border-radius: 50%;
}

.container {
   width: 100%;
   margin-top: 3%;
   left:50%;
}

.col-3 {
   width: 10%;
   max-width: 10%;
   flex: 0 0 10%;
   float: left;
   padding: 0 5px;
}
.col-3-3 {
   width: 20%;
   max-width: 20%;
   flex: 0 0 20%;
   float: left;
   padding: 5px 5px;
}

.row {
   justify-content: center;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,latin-ext);
*,
*:after,
*::before {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
}

body {
   font-family: 'Roboto', sans-serif;
}